.form {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  border: 1px solid rgb(193, 193, 193);
  padding: 10px;
}

.form__button {
  border: none;
  background: hwb(188 1% 43%);
  transition: 0.5s;
  color: white;
  padding: 10px;
}

.form__button:hover {
  background: hsl(187, 100%, 31%);
  transform: scale(1.05, 1.05);
}

.form__button:active {
  background: hsl(187, 98%, 38%);
}
