.task {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.tasks__item {
  display: grid;
  border-bottom: 1px solid rgb(193, 193, 193);
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
  word-break: break-all;
}

.task__item--hidden {
  display: none;
}

.tasks__content--done {
  text-decoration: line-through;
}

.tasks__button {
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  padding: 0;
}

.tasks__button--done {
  background-color: green;
  transition: 0.5s;
}

.tasks__button--done:hover {
  background-color: rgb(67, 187, 3);
}

.tasks__button--done:active {
  background-color: rgb(118, 195, 2);
}

.task__button--remove {
  background-color: red;
  transition: 0.5s;
}

.task__button--remove:hover {
  background-color: rgb(235, 103, 27);
}

.task__button--remove:active {
  background-color: rgb(255, 178, 62);
}
